---
---
$family-primary: 'Arsenal';
$title-family: 'Quicksand';
$primary: hsl(217, 71%, 53%);

@import 'bulma/utilities/all';
@import 'bulma/base/all';
@import 'bulma/elements/all';
@import 'bulma/components/all';
@import 'bulma/grid/all';
@import 'bulma/layout/all';

