@supports (display: grid) {
  @media (min-width: 60em) {
    body {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    header.site-header {
      margin: 0;
      margin-left: 3em;
    }

    address > ul {
      margin-top: 1em;
      padding-left: 0em;
    }

    #pubs ul {
      padding-left: 1em;
    }

    #pubs li {
      padding-bottom: 1em;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 30em;
        grid-column-gap: 2em;
        grid-template-areas:
            "name address"
            "pubs cv ";
    }

    header {
      grid-area: name;
    }

    address {
      grid-area: address;
    }

    #cv {
      grid-area: cv;  
    }

    #pubs {
      grid-area: pubs;
      max-width: 40em;
      margin-left: 3em;
    }

    #interests {
      grid-area: interests;
    }
 
    #experience {
      grid-area: xp;
    }
 
    #education{
      grid-area: edu;
    }
  }
}
