<div class="bib" id="faial-repair:serpl23"><pre>
@inproceedings{<a href="{{ include.url }}#faial-repair:serpl23">faial-repair:serpl23</a>,
  author = {Gregory Blike and Tiago Cogumbreiro},
  title = {Towards Concurrency Repair in {GPU} Kernels with Resource Cost Analysis (Extended Abstract)},
  year = {2023},
  booltitle = {SERPL},
  url = {assets/faial-repair-serpl23.pdf}
}
</pre></div>

<div class="bib" id="faial-proj:serpl23"><pre>
@inproceedings{<a href="{{ include.url }}#faial-proj:serpl23">faial-proj:serpl23</a>,
  author = {Paul Maynard and Tiago Cogumbreiro},
  title = {Scaling data-race freedom analysis with array projections (Extended Abstract)},
  year = {2023},
  booltitle = {SERPL},
  url = {assets/faial-proj-serpl23.pdf}
}
</pre></div>

<div class="bib" id="shelley:coordination23"><pre>
@inproceedings{<a href="{{ include.url }}#shelley:coordination23">shelley:coordination23</a>,
  author = {Mão de Ferro, Carlos and Cogumbreiro, Tiago and Martins, Francisco},
  title = {Shelley: a framework for model checking call ordering on hierarchical systems},
  booktitle = {COORDINATION},
  year = {2023},
  publisher = {Springer},
  doi = {10.1007/978-3-031-35361-1_5}
}
</pre></div>

<div class="bib" id="shelley-infer:verdi23"><pre>
@inproceedings{<a href="{{ include.url }}#shelley-infer:verdi23">shelley-infer:verdi23</a>,
  author = {Mão de Ferro, Carlos and Cogumbreiro, Tiago and Martins, Francisco},
  title = {Formalizing Model Inference of {MicroPython}},
  booktitle = {VERDI},
  year = {2023},
  publisher = {IEEE},
  doi = {10.1109/DSN-W58399.2023.00069}
}
</pre></div>

<div class="bib" id="faial-drf:fmsd23"><pre>
@article{<a href="{{ include.url }}#faial-drf:fmsd23">faial-drf:fmsd23</a>,
  author = {Cogumbreiro, Tiago and Lange, Julien and Liew Zhen Rong, Dennis and Zicarelli, Hannah},
  title = {Memory Access Protocols: Certified Data-Race Freedom for GPU Kernels},
  journal = {FMSD},
  year = {2023},
  doi = {10.1007/s10703-023-00415-0},
  url = {assets/faial-fmsd23.pdf},
  note = {1 of 7 invited publications from CAV21.
  \href{assets/bu-sept-23.pdf}{slides for BU'23} }
}
</pre></div>

<div class="bib" id="data-race-det:ecoop23"><pre>
@inproceedings{<a href="{{ include.url }}#data-race-det:ecoop23">data-race-det:ecoop23</a>,
  author = {Feiyang Jin and Lechen Yu and Tiago Cogumbreiro and Vivek Sarkar and Jun Shirako },
  title = {Dynamic Determinacy Race Detection for Task-Parallel Programs with Promises},
  booktitle = {ECOOP},
  publisher = {Schloss Dagstuhl},
  optpublisher = {{ACM}},
  series = {LIPIcs},
  year = {2023},
  volume = {263},
  doi = {10.4230/LIPIcs.ECOOP.2023.13}
}
</pre></div>

<div class="bib" id="verifying-faial:tfp22"><pre>
@inproceedings{<a href="{{ include.url }}#verifying-faial:tfp22">verifying-faial:tfp22</a>,
  author = {Udaya Sathiyamoorthy and Tiago Cogumbreiro},
  title = {Verifying Static Analysis Tools (Extended Abstract)},
  booktitle = {TFP},
  year = {2023},
  url = {assets/verifying-verifiers-tfp23.pdf},
  note = {\href{verifying-verifiers-slides-tfp23.pdf}{Presentation slides}}
}
</pre></div>

<div class="bib" id="turing:types22"><pre>
@inproceedings{<a href="{{ include.url }}#turing:types22">turing:types22</a>,
  author = {Tiago Cogumbreiro and Yannick Forster},
  title = {Towards a Mechanized Theory~of~Computation for~Education (Extended Abstract)},
  booktitle = {TYPES},
  year = {2022},
  url = {assets/turing-types22.pdf},
  note = {\href{assets/turing-types22-pres.pdf}{Presentation slides},
  \href{assets/turing-rhul22-pres.pdf}{slides for RHUL'22}}
}
</pre></div>

<div class="bib" id="gidayu:iticse22"><pre>
@inproceedings{<a href="{{ include.url }}#gidayu:iticse22">gidayu:iticse22</a>,
  author = {Cogumbreiro, Tiago and Blike, Gregory},
  title = {Gidayu: visualizing automaton and their computations},
  booktitle = {ITiCSE},
  publisher = {{ACM}},
  year = {2022},
  doi = {10.1145/3502718.3524742},
  preprint = {<a href="assets/gidayu-iticse22.pdf">assets/gidayu-iticse22.pdf</a>},
  note = {\href{assets/gidayu-iticse22-slides.pdf}{Presentation slides}}
}
</pre></div>

<div class="bib" id="provable-data-races:places22"><pre>
@inproceedings{<a href="{{ include.url }}#provable-data-races:places22">provable-data-races:places22</a>,
  author = {Liew, Dennis and Cogumbreiro, Tiago and Lange, Julien},
  title = {Provable {GPU} Data-Races in Static Race Detection},
  booktitle = {PLACES},
  year = {2022},
  series = {EPTCS},
  volume = {356},
  pages = {36-45},
  doi = {10.4204/EPTCS.356.4},
  note = {\href{assets/provable-races-places22-slides.pdf}{Presentation slides}},
  preprint = {<a href="assets/provable-races-places22.pdf">assets/provable-races-places22.pdf</a>}
}
</pre></div>

<div class="bib" id="eval-challenges:places22"><pre>
@inproceedings{<a href="{{ include.url }}#eval-challenges:places22">eval-challenges:places22</a>,
  author = {Zicarelli, Hannah and Cogumbreiro, Tiago},
  title = {Verif‌ication of {GPU} Programs: Evaluation Challenges (Extended Abstract)},
  booktitle = {PLACES},
  year = {2022},
  note = {\href{assets/eval-challenges-places22-slides.pdf}{Presentation slides}},
  url = {assets/eval-challenges-places22.pdf}
}
</pre></div>

<div class="bib" id="faial:cav21"><pre>
@inproceedings{<a href="{{ include.url }}#faial:cav21">faial:cav21</a>,
  author = {Cogumbreiro, Tiago and Lange, Julien and Liew Zhen Rong, Dennis and Zicarelli, Hannah},
  title = {Checking Data-Race Freedom of {GPU} Kernels, Compositionally},
  booktitle = {CAV},
  year = {2021},
  pages = {403--426},
  volumne = {12759},
  doi = {10.1007/978-3-030-81685-8_19},
  publisher = {Springer},
  preprint = {<a href="assets/faial-cav21.pdf">assets/faial-cav21.pdf</a>},
  note = {
    \href{https://doi.org/10.5281/zenodo.4711923}{\textbf{Artifact awarded functional, available, reusable}; includes source code and Coq proofs.}
    \href{https://ucl-pplv.github.io/CAV21/poster_P_195/}{Video presentation.}
    \href{assets/faial-brunel21-slides.pdf}{Presentation slides @ Brunel'21}
    \href{assets/faial-cav21-slides.pdf}{Presentation slides @ CAV'21}
}
}
</pre></div>

<div class="bib" id="transitive-joins:ppopp19"><pre>
@inproceedings{<a href="{{ include.url }}#transitive-joins:ppopp19">transitive-joins:ppopp19</a>,
  author = {Voss, Caleb and Cogumbreiro, Tiago and Sarkar, Vivek},
  title = {Transitive Joins: A Sound and Efficient Online Deadlock-avoidance Policy},
  booktitle = {PPoPP},
  year = {2019},
  isbn = {978-1-4503-6225-2},
  pages = {378--390},
  numpages = {13},
  doi = {10.1145/3293883.3295724},
  acmid = {3295724},
  publisher = {ACM},
  keywords = {deadlock avoidance, futures, task parallelism}
}
</pre></div>

<div class="bib" id="armus:toplas19"><pre>
@article{<a href="{{ include.url }}#armus:toplas19">armus:toplas19</a>,
  author = {Tiago Cogumbreiro and
  Raymond Hu and
  Francisco Martins and
  Nobuko Yoshida},
  title = {Dynamic Deadlock Verification for General Barrier Synchronisation},
  journal = {TOPLAS},
  optissue_date = {March 2019},
  volume = {41},
  number = {1},
  optmonth = dec,
  year = {2018},
  issn = {0164-0925},
  pages = {1--38},
  articleno = {1},
  numpages = {38},
  doi = {10.1145/3229060},
  publisher = {ACM},
  optaddress = {New York, NY, USA},
  keywords = {Barrier synchronisation, Java, X10, deadlock avoidance, deadlock detection, phasers}
}
</pre></div>

<div class="bib" id="gorn:oopsla17"><pre>
@article{<a href="{{ include.url }}#gorn:oopsla17">gorn:oopsla17</a>,
  author = {Tiago Cogumbreiro and
               Rishi Surendran and
               Francisco Martins and
               Vivek Sarkar and
               Vasco T. Vasconcelos and
               Max Grossman},
  title = {Deadlock Avoidance in Parallel Programs with Futures: Why parallel tasks should not wait for strangers},
  journal = {Proceedings of the ACM on Programming Languages},
  number = {OOPSLA},
  year = {2017},
  publisher = {ACM},
  volume = 1,
  articleno = 103,
  doi = {10.1145/3143359},
  preprint = {<a href="assets/gorn-oopsla17.pdf">assets/gorn-oopsla17.pdf</a>},
  note = {
    \href{https://gitlab.com/cogumbreiro/gorn/tree/oopsla17}{Source code and proof scripts.}
    \href{assets/gorn-oopsla17-slides.pdf}{Presentation slides.}
    \href{https://www.youtube.com/watch?v=p1SLkd1oKYA}{Video presentation.}
    }
}
</pre></div>

<div class="bib" id="phasers:jlamp17"><pre>
@article{<a href="{{ include.url }}#phasers:jlamp17">phasers:jlamp17</a>,
  title = {Formalization of {Habanero} Phasers using {Coq}},
  journal = {Journal of Logical and Algebraic Methods in Programming},
  year = {2017},
  issn = {2352-2208},
  volume = {90},
  pages = {50–60},
  publisher = {Elsevier},
  doi = {10.1016/j.jlamp.2017.02.006},
  author = {Tiago Cogumbreiro and Jun Shirako and Vivek Sarkar},
  note = {\href{https://cogumbreiro.github.io/jlamp17/}{Online interpreter and proof scripts}},
  preprint = {<a href="assets/phasers-jlamp17.pdf">assets/phasers-jlamp17.pdf</a>}
}
</pre></div>

<div class="bib" id="dist-phasers:europar16"><pre>
@inproceedings{<a href="{{ include.url }}#dist-phasers:europar16">dist-phasers:europar16</a>,
  author = {Karthik Murthy and
               Sri Raj Paul and
               Kuldeep S. Meel and
               Tiago Cogumbreiro and
               John M. Mellor{-}Crummey},
  title = {Design and verification of distributed phasers},
  booktitle = {EuroPAR},
  year = {2016},
  pages = {405–418},
  publisher = {Springer},
  series = {LNCS},
  volume = {9833},
  doi = {10.1007/978-3-319-43659-3_30}
}
</pre></div>

<div class="bib" id="phase-ordering:places16"><pre>
@inproceedings{<a href="{{ include.url }}#phase-ordering:places16">phase-ordering:places16</a>,
  author = {Tiago Cogumbreiro and
            Jun Shirako and
            Vivek Sarkar},
  title = {Formalization of phase ordering},
  booktitle = {PLACES},
  year = {2016},
  series = {EPTCS},
  volume = {211},
  pages = {13–24},
  doi = {10.4204/EPTCS.211.2},
  note = {\href{https://github.com/cogumbreiro/habanero-coq/tree/places16}{Proof scripts}},
  preprint = {<a href="assets/phase-ordering-places16.pdf">assets/phase-ordering-places16.pdf</a>}
}
</pre></div>

<div class="bib" id="armus:ppopp15"><pre>
@inproceedings{<a href="{{ include.url }}#armus:ppopp15">armus:ppopp15</a>,
  author = {Tiago Cogumbreiro and
            Raymond Hu and
            Francisco Martins and
            Nobuko Yoshida},
  title = {Dynamic deadlock verification for general barrier synchronisation},
  booktitle = {PPoPP},
  year = {2015},
  doi = {10.1145/2688500.2688519},
  publisher = {ACM},
  pages = {150–160},
  numpages = {11},
  note = {\href{https://bitbucket.org/cogumbreiro/armus/wiki/PPoPP15}{Source code}. \href{https://bitbucket.org/cogumbreiro/brenner-coq/commits/tag/v1.0}{Proof scripts}},
  preprint = {<a href="assets/armus-ppopp15.pdf">assets/armus-ppopp15.pdf</a>}
}
</pre></div>

<div class="bib" id="armus:x1014"><pre>
@inproceedings{<a href="{{ include.url }}#armus:x1014">armus:x1014</a>,
  author = {Tiago Cogumbreiro and Raymond Hu and Francisco Martins and Nobuko Yoshida},
  title = {Armus: dynamic deadlock verification for barriers},
  year = {2014},
  booktitle = {X10},
  preprint = {<a href="http://x10.sourceforge.net/documentation/papers/X10Workshop2014/x1014-cogumbreiro.pdf">http://x10.sourceforge.net/documentation/papers/X10Workshop2014/x1014-cogumbreiro.pdf</a>}
}
</pre></div>

<div class="bib" id="phased-acts:coordination13"><pre>
@inproceedings{<a href="{{ include.url }}#phased-acts:coordination13">phased-acts:coordination13</a>,
  author = {Tiago Cogumbreiro and
               Francisco Martins and
               Vasco Thudichum Vasconcelos},
  title = {Coordinating phased activities while maintaining progress},
  booktitle = {COORDINATION},
  volume = {7890},
  year = {2013},
  pages = {31–44},
  doi = {10.1007/978-3-642-38493-6_3},
  publisher = {Springer},
  preprint = {<a href="assets/phased-acts-coordination13.pdf">assets/phased-acts-coordination13.pdf</a>}
}
</pre></div>

<div class="bib" id="types-for-clocks:places10"><pre>
@inproceedings{<a href="{{ include.url }}#types-for-clocks:places10">types-for-clocks:places10</a>,
  author = {Francisco Martins and Vasco T. Vasconcelos and Tiago Cogumbreiro},
  title = {Types for {X10} {C}locks},
  booktitle = {PLACES},
  year = {2010},
  pages = {111–129},
  doi = {10.4204/EPTCS.69.8},
  volume = {69},
  series = {EPTCS},
  preprint = {<a href="assets/types-for-clocks-places10.pdf">assets/types-for-clocks-places10.pdf</a>}
}
</pre></div>

<div class="bib" id="mil-infer:places09"><pre>
@inproceedings{<a href="{{ include.url }}#mil-infer:places09">mil-infer:places09</a>,
  author = {Vasco T. Vasconcelos and Francisco Martins and Tiago Cogumbreiro},
  title = {Type inference for deadlock detection in a multithreaded typed assembly language},
  booktitle = {PLACES},
  optbooktitle = {PLACES'09},
  year = {2010},
  pages = {95–109},
  volume = 17,
  series = {EPTCS},
  preprint = {<a href="assets/mil-infer-places09.pdf">assets/mil-infer-places09.pdf</a>},
  doi = {10.4204/EPTCS.17.8}
}
</pre></div>

<div class="bib" id="pi-to-mil:places08"><pre>
@inproceedings{<a href="{{ include.url }}#pi-to-mil:places08">pi-to-mil:places08</a>,
  author = {Tiago Cogumbreiro and Francisco Martins and Vasco T. Vasconcelos},
  title = {Compiling the $pi$-calculus into a multithreaded typed assembly language},
  series = {ENTCS},
  volume = {241},
  pages = {57–84},
  year = {2009},
  booktitle = {PLACES},
  optbooktitle = {PLACES'08},
  issn = {1571-0661},
  doi = {10.1016/j.entcs.2009.06.004},
  preprint = {<a href="assets/pi-to-mil-places08.pdf">assets/pi-to-mil-places08.pdf</a>}
}
</pre></div>

