


<li class="bib"><a id="cogumbreiro:coordinating-phased-acts"></a>

<b>Coordinating Phased Activities while Maintaining Progress</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;Thudichum
  Vasconcelos.
 In <em>Proceedings of COORDINATION'13</em>, volume 7890, pages 31-44,
  2013.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:coordinating-phased-acts">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-38493-6_3">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_coordinating-phased-acts.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib"><a id="cogumbreiro:safe-by-design-wsn"></a>

<b>Safe-By-Design Programming Languages for Wireless Sensor Networks</b>.
 Tiago Cogumbreiro, Pedro Gomes, Francisco Martins, and Lu&iacute;s Lopes.
 Technical Report DCC-2011-09, Universidade do Porto, 2011.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:safe-by-design-wsn">bib</a>&nbsp;| 
<a href="http://www.dcc.fc.up.pt/dcc/Pubs/TReports/TR11/dcc-2011-09.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib"><a id="martins:types-x10-clocks"></a>

<b>Types for X10 Clocks</b>.
 Francisco Martins, Vasco&nbsp;T. Vasconcelos, and Tiago Cogumbreiro.
 In <em>Proceedings of PLACES'10</em>, volume&nbsp;69 of <em>EPTCS</em>, pages
  111-129, 2010.
[&nbsp;<a href="{{ include.url }}#martins:types-x10-clocks">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.69.8">DOI</a>&nbsp;| 
<a href="assets/martins.vasconcelos.cogumbreiro_types-for-x10-clocks.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib"><a id="vasconcelos:type-inference-mil"></a>

<b>Type Inference for Deadlock Detection in a Multithreaded Typed Assembly
  Language</b>.
 Vasco&nbsp;T. Vasconcelos, Francisco Martins, and Tiago Cogumbreiro.
 In <em>Proceedings of PLACES'09</em>, volume&nbsp;17 of <em>EPTCS</em>, pages
  95-109, 2010.
[&nbsp;<a href="{{ include.url }}#vasconcelos:type-inference-mil">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.17.8">DOI</a>&nbsp;| 
<a href="assets/vasconcelos.martins.cogumbreiro_type-inference-mil.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib"><a id="cogumbreiro:compiling-pi-into-mtal"></a>

<b>Compiling the <em>pi</em>-calculus into a Multithreaded Typed Assembly Language</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;T. Vasconcelos.
 In <em>Proceedings of PLACES'08</em>, volume 241 of <em>ENTCS</em>, pages
  57-84, 2009.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:compiling-pi-into-mtal">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.entcs.2009.06.004">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_compiling-pi-into-mtal.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib"><a id="cogumbreiro:msc-thesis"></a>

<b>Compiling the π-calculus into a multithreaded typed assembly language
  (extended)</b>.
 Tiago Cogumbreiro.
 Master's thesis, Universidade de Lisboa, 2009.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:msc-thesis">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10455/2901">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-msc-thesis.pdf">.pdf</a>&nbsp;]

</li>