


<li class="bib" id="karthik:dist-phasers">

<b>Design and verification of distributed phasers</b>.
 Karthik Murthy, Sri&nbsp;Raj Paul, Kuldeep&nbsp;S. Meel, Tiago Cogumbreiro, and
  John Mellor-Crummey.
 In <em>EuroPAR</em>, 2016.
[&nbsp;<a href="{{ include.url }}#karthik:dist-phasers">bib</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:phase-ordering">

<b>Formalization of phase ordering</b>.
 Tiago Cogumbreiro, Jun Shirako, and Vivek Sarkar.
 In <em>PLACES</em>, 2016.
 To appear.
  <a href="https://github.com/cogumbreiro/habanero-coq/tree/places16">Abstract and
  Coq proofs</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:phase-ordering">bib</a>&nbsp;| 
<a href="assets/cogumbreiro-phase-ordering.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:phd-thesis">

<b>Programming multicores safely: Handling barrier deadlocks</b>.
 Tiago Cogumbreiro.
 PhD thesis, ULisboa, 2015.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:phd-thesis">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10451/17945">DOI</a>&nbsp;| 
<a href="https://bitbucket.org/cogumbreiro/armus/downloads/cogumbreiro-phd-thesis.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:armus">

<b>Dynamic deadlock verification for general barrier synchronisation</b>.
 Tiago Cogumbreiro, Raymond Hu, Francisco Martins, and Nobuko Yoshida.
 In <em>PPoPP</em>, 2015.
 
  <a href="https://bitbucket.org/cogumbreiro/armus/wiki/PPoPP15">Supplementary
  material</a>.
  <a href="https://bitbucket.org/cogumbreiro/brenner-coq/commits/tag/v1.0">Coq
  proofs</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:armus">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2688500.2688519">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-armus.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:coordinating-phased-acts">

<b>Coordinating phased activities while maintaining progress</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;Thudichum
  Vasconcelos.
 In <em>COORDINATION</em>, volume 7890, page 31–44, 2013.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:coordinating-phased-acts">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-38493-6_3">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_coordinating-phased-acts.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:safe-by-design-wsn">

<b>Safe-by-design programming languages for Wireless Sensor Networks</b>.
 Tiago Cogumbreiro, Pedro Gomes, Francisco Martins, and Lu&iacute;s Lopes.
 Technical Report DCC-2011-09, Universidade do Porto, 2011.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:safe-by-design-wsn">bib</a>&nbsp;| 
<a href="http://www.dcc.fc.up.pt/dcc/Pubs/TReports/TR11/dcc-2011-09.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="martins:types-x10-clocks">

<b>Types for X10 Clocks</b>.
 Francisco Martins, Vasco&nbsp;T. Vasconcelos, and Tiago Cogumbreiro.
 In <em>PLACES</em>, volume&nbsp;69 of <em>EPTCS</em>, page 111–129, 2010.
[&nbsp;<a href="{{ include.url }}#martins:types-x10-clocks">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.69.8">DOI</a>&nbsp;| 
<a href="assets/martins.vasconcelos.cogumbreiro_types-for-x10-clocks.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="vasconcelos:type-inference-mil">

<b>Type inference for deadlock detection in a multithreaded typed assembly
  language</b>.
 Vasco&nbsp;T. Vasconcelos, Francisco Martins, and Tiago Cogumbreiro.
 In <em>PLACES'09</em>, volume&nbsp;17 of <em>EPTCS</em>, page 95–109, 2010.
[&nbsp;<a href="{{ include.url }}#vasconcelos:type-inference-mil">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.17.8">DOI</a>&nbsp;| 
<a href="assets/vasconcelos.martins.cogumbreiro_type-inference-mil.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:compiling-pi-into-mtal">

<b>Compiling the <em>pi</em>-calculus into a multithreaded typed assembly language</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;T. Vasconcelos.
 In <em>PLACES'08</em>, volume 241 of <em>ENTCS</em>, page 57–84, 2009.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:compiling-pi-into-mtal">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.entcs.2009.06.004">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_compiling-pi-into-mtal.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:msc-thesis">

<b>Compiling the π-calculus into a multithreaded typed assembly language
  (extended)</b>.
 Tiago Cogumbreiro.
 Master's thesis, Universidade de Lisboa, 2009.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:msc-thesis">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10455/2901">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-msc-thesis.pdf">.pdf</a>&nbsp;]

</li>