


<li class="bib" id="cogumbreiro:armus-toplas">

<b>Dynamic deadlock verification for general barrier synchronisation</b>.
 Tiago Cogumbreiro, Raymond Hu, Francisco Martins, and Nobuko Yoshida.
 In <em>TOPLAS</em>. ACM, 2018.
 Accepted. <a href="assets/cogumbreiro-armus-toplas18.pdf">Preprint PDF.</a>
[&nbsp;<a href="{{ include.url }}#cogumbreiro:armus-toplas">bib</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:gorn">

<b>Deadlock Avoidance in Parallel Programs with Futures: Why parallel tasks
  should not wait for strangers</b>.
 Tiago Cogumbreiro, Rishi Surendran, Francisco Martins, Vivek Sarkar,
  Vasco&nbsp;T. Vasconcelos, and Max Grossman.
 <em>Proceedings of the ACM on Programming Languages</em>, 1(OOPSLA),
  2017.
 <a href="https://gitlab.com/cogumbreiro/gorn/tree/oopsla17">Source code
  and proof scripts</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:gorn">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/3143359">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-gorn.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:formalize-habanero-phasers">

<b>Formalization of Habanero Phasers using Coq</b>.
 Tiago Cogumbreiro, Jun Shirako, and Vivek Sarkar.
 <em>Journal of Logical and Algebraic Methods in Programming</em>,
  90:50–60, 2017.
 <a href="https://cogumbreiro.github.io/jlamp17/">Online interpreter and
  proof scripts</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:formalize-habanero-phasers">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.jlamp.2017.02.006">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-formalizing-phasers.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="murthy:dist-phasers">

<b>Design and verification of distributed phasers</b>.
 Karthik Murthy, Sri&nbsp;Raj Paul, Kuldeep&nbsp;S. Meel, Tiago Cogumbreiro, and
  John&nbsp;M. Mellor-Crummey.
 In <em>EuroPAR</em>, volume 9833 of <em>LNCS</em>, page 405–418.
  Springer, 2016.
[&nbsp;<a href="{{ include.url }}#murthy:dist-phasers">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-43659-3_30">DOI</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007%2F978-3-319-43659-3_30">http</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:phase-ordering">

<b>Formalization of phase ordering</b>.
 Tiago Cogumbreiro, Jun Shirako, and Vivek Sarkar.
 In <em>PLACES</em>, volume 211 of <em>EPTCS</em>, page 13–24, 2016.
 
  <a href="https://github.com/cogumbreiro/habanero-coq/tree/places16">Proof
  scripts</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:phase-ordering">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.211.2">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-phase-ordering.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:armus">

<b>Dynamic deadlock verification for general barrier synchronisation</b>.
 Tiago Cogumbreiro, Raymond Hu, Francisco Martins, and Nobuko Yoshida.
 In <em>PPoPP</em>, page 150–160. ACM, 2015.
 <a href="https://bitbucket.org/cogumbreiro/armus/wiki/PPoPP15">Source
  code</a>.
  <a href="https://bitbucket.org/cogumbreiro/brenner-coq/commits/tag/v1.0">Proof
  scripts</a>.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:armus">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2688500.2688519">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro-armus.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:coordinating-phased-acts">

<b>Coordinating phased activities while maintaining progress</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;Thudichum
  Vasconcelos.
 In <em>COORDINATION</em>, volume 7890, page 31–44. Springer, 2013.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:coordinating-phased-acts">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-38493-6_3">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_coordinating-phased-acts.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="martins:types-x10-clocks">

<b>Types for X10 Clocks</b>.
 Francisco Martins, Vasco&nbsp;T. Vasconcelos, and Tiago Cogumbreiro.
 In <em>PLACES</em>, volume&nbsp;69 of <em>EPTCS</em>, page 111–129, 2010.
[&nbsp;<a href="{{ include.url }}#martins:types-x10-clocks">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.69.8">DOI</a>&nbsp;| 
<a href="assets/martins.vasconcelos.cogumbreiro_types-for-x10-clocks.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="vasconcelos:type-inference-mil">

<b>Type inference for deadlock detection in a multithreaded typed assembly
  language</b>.
 Vasco&nbsp;T. Vasconcelos, Francisco Martins, and Tiago Cogumbreiro.
 In <em>PLACES</em>, volume&nbsp;17 of <em>EPTCS</em>, page 95–109, 2010.
[&nbsp;<a href="{{ include.url }}#vasconcelos:type-inference-mil">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.4204/EPTCS.17.8">DOI</a>&nbsp;| 
<a href="assets/vasconcelos.martins.cogumbreiro_type-inference-mil.pdf">.pdf</a>&nbsp;]

</li>

<li class="bib" id="cogumbreiro:compiling-pi-into-mtal">

<b>Compiling the <em>pi</em>-calculus into a multithreaded typed assembly language</b>.
 Tiago Cogumbreiro, Francisco Martins, and Vasco&nbsp;T. Vasconcelos.
 In <em>PLACES</em>, volume 241 of <em>ENTCS</em>, page 57–84, 2009.
[&nbsp;<a href="{{ include.url }}#cogumbreiro:compiling-pi-into-mtal">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.entcs.2009.06.004">DOI</a>&nbsp;| 
<a href="assets/cogumbreiro.martins.vasconcelos_compiling-pi-into-mtal.pdf">.pdf</a>&nbsp;]

</li>