<div class="bib" id="cogumbreiro:armus-toplas"><pre>
@inproceedings{<a href="{{ include.url }}#cogumbreiro:armus-toplas">cogumbreiro:armus-toplas</a>,
  author = {Tiago Cogumbreiro and
            Raymond Hu and
            Francisco Martins and
            Nobuko Yoshida},
  title = {Dynamic deadlock verification for general barrier synchronisation},
  booktitle = {TOPLAS},
  year = {2018},
  optdoi = {10.1145/XXX},
  publisher = {ACM},
  optpages = {150–160},
  numpages = {38},
  note = {Accepted. \href{assets/cogumbreiro-armus-toplas18.pdf}{Preprint PDF.}}
}
</pre></div>

<div class="bib" id="cogumbreiro:gorn"><pre>
@article{<a href="{{ include.url }}#cogumbreiro:gorn">cogumbreiro:gorn</a>,
  author = {Tiago Cogumbreiro and
               Rishi Surendran and
               Francisco Martins and
               Vivek Sarkar and
               Vasco T. Vasconcelos and
               Max Grossman},
  title = {Deadlock Avoidance in Parallel Programs with Futures: Why parallel tasks should not wait for strangers},
  journal = {Proceedings of the ACM on Programming Languages},
  number = {OOPSLA},
  year = {2017},
  publisher = {ACM},
  volume = 1,
  articleno = 103,
  doi = {10.1145/3143359},
  url = {assets/cogumbreiro-gorn.pdf},
  note = {\href{https://gitlab.com/cogumbreiro/gorn/tree/oopsla17}{Source code and proof scripts}}
}
</pre></div>

<div class="bib" id="cogumbreiro:formalize-habanero-phasers"><pre>
@article{<a href="{{ include.url }}#cogumbreiro:formalize-habanero-phasers">cogumbreiro:formalize-habanero-phasers</a>,
  title = {Formalization of {Habanero} Phasers using {Coq}},
  journal = {Journal of Logical and Algebraic Methods in Programming},
  year = {2017},
  issn = {2352-2208},
  volume = {90},
  pages = {50–60},
  publisher = {Elsevier},
  doi = {10.1016/j.jlamp.2017.02.006},
  author = {Tiago Cogumbreiro and Jun Shirako and Vivek Sarkar},
  note = {\href{https://cogumbreiro.github.io/jlamp17/}{Online interpreter and proof scripts}},
  url = {assets/cogumbreiro-formalizing-phasers.pdf}
}
</pre></div>

<div class="bib" id="murthy:dist-phasers"><pre>
@inproceedings{<a href="{{ include.url }}#murthy:dist-phasers">murthy:dist-phasers</a>,
  author = {Karthik Murthy and
               Sri Raj Paul and
               Kuldeep S. Meel and
               Tiago Cogumbreiro and
               John M. Mellor{-}Crummey},
  title = {Design and verification of distributed phasers},
  booktitle = {EuroPAR},
  year = {2016},
  pages = {405–418},
  publisher = {Springer},
  series = {LNCS},
  volume = {9833},
  doi = {10.1007/978-3-319-43659-3_30},
  url = {<a href="http://link.springer.com/chapter/10.1007%2F978-3-319-43659-3_30">http://link.springer.com/chapter/10.1007%2F978-3-319-43659-3_30</a>}
}
</pre></div>

<div class="bib" id="cogumbreiro:phase-ordering"><pre>
@inproceedings{<a href="{{ include.url }}#cogumbreiro:phase-ordering">cogumbreiro:phase-ordering</a>,
  author = {Tiago Cogumbreiro and
            Jun Shirako and
            Vivek Sarkar},
  title = {Formalization of phase ordering},
  booktitle = {PLACES},
  year = {2016},
  series = {EPTCS},
  volume = {211},
  pages = {13–24},
  doi = {10.4204/EPTCS.211.2},
  note = {\href{https://github.com/cogumbreiro/habanero-coq/tree/places16}{Proof scripts}},
  url = {assets/cogumbreiro-phase-ordering.pdf}
}
</pre></div>

<div class="bib" id="cogumbreiro:armus"><pre>
@inproceedings{<a href="{{ include.url }}#cogumbreiro:armus">cogumbreiro:armus</a>,
  author = {Tiago Cogumbreiro and
            Raymond Hu and
            Francisco Martins and
            Nobuko Yoshida},
  title = {Dynamic deadlock verification for general barrier synchronisation},
  booktitle = {PPoPP},
  year = {2015},
  doi = {10.1145/2688500.2688519},
  publisher = {ACM},
  pages = {150–160},
  numpages = {11},
  note = {\href{https://bitbucket.org/cogumbreiro/armus/wiki/PPoPP15}{Source code}. \href{https://bitbucket.org/cogumbreiro/brenner-coq/commits/tag/v1.0}{Proof scripts}},
  url = {assets/cogumbreiro-armus.pdf}
}
</pre></div>

<div class="bib" id="cogumbreiro:coordinating-phased-acts"><pre>
@inproceedings{<a href="{{ include.url }}#cogumbreiro:coordinating-phased-acts">cogumbreiro:coordinating-phased-acts</a>,
  author = {Tiago Cogumbreiro and
               Francisco Martins and
               Vasco Thudichum Vasconcelos},
  title = {Coordinating phased activities while maintaining progress},
  booktitle = {COORDINATION},
  volume = {7890},
  year = {2013},
  pages = {31–44},
  doi = {10.1007/978-3-642-38493-6_3},
  publisher = {Springer},
  url = {assets/cogumbreiro.martins.vasconcelos_coordinating-phased-acts.pdf}
}
</pre></div>

<div class="bib" id="martins:types-x10-clocks"><pre>
@inproceedings{<a href="{{ include.url }}#martins:types-x10-clocks">martins:types-x10-clocks</a>,
  author = {Francisco Martins and Vasco T. Vasconcelos and Tiago Cogumbreiro},
  title = {Types for {X10} {C}locks},
  booktitle = {PLACES},
  year = {2010},
  pages = {111–129},
  doi = {10.4204/EPTCS.69.8},
  volume = {69},
  series = {EPTCS},
  url = {assets/martins.vasconcelos.cogumbreiro_types-for-x10-clocks.pdf}
}
</pre></div>

<div class="bib" id="vasconcelos:type-inference-mil"><pre>
@inproceedings{<a href="{{ include.url }}#vasconcelos:type-inference-mil">vasconcelos:type-inference-mil</a>,
  author = {Vasco T. Vasconcelos and Francisco Martins and Tiago Cogumbreiro},
  title = {Type inference for deadlock detection in a multithreaded typed assembly language},
  booktitle = {PLACES},
  optbooktitle = {PLACES'09},
  year = {2010},
  pages = {95–109},
  volume = 17,
  series = {EPTCS},
  url = {assets/vasconcelos.martins.cogumbreiro_type-inference-mil.pdf},
  doi = {10.4204/EPTCS.17.8}
}
</pre></div>

<div class="bib" id="cogumbreiro:compiling-pi-into-mtal"><pre>
@inproceedings{<a href="{{ include.url }}#cogumbreiro:compiling-pi-into-mtal">cogumbreiro:compiling-pi-into-mtal</a>,
  author = {Tiago Cogumbreiro and Francisco Martins and Vasco T. Vasconcelos},
  title = {Compiling the $pi$-calculus into a multithreaded typed assembly language},
  series = {ENTCS},
  volume = {241},
  pages = {57–84},
  year = {2009},
  booktitle = {PLACES},
  optbooktitle = {PLACES'08},
  issn = {1571-0661},
  doi = {10.1016/j.entcs.2009.06.004},
  url = {assets/cogumbreiro.martins.vasconcelos_compiling-pi-into-mtal.pdf}
}
</pre></div>

