<ul>
{% for article in site.data.publications %}
<li>
  {% include cite.html article=article %}
  {{ article.extra }}
  <div class="buttons has-addons">
  {% for m in article.media %}
    <a class="button icon-text" href="{{ m.url }}">
    {% if m.icon %}
      {% assign icon = m.icon %}
    {% elsif m.title == "Slides" %}
      {% assign icon = "file-powerpoint" %}
    {% elsif m.title == "Video" %}
      {% assign icon = "file-video" %}
    {% elsif m.title == "Artifact" %}
      {% assign icon = "file-archive" %}
    {% else %}
      {% assign icon = None %}
    {% endif %}
    {% if icon %}
    <span class="icon">
    <i class="fas fa-{{ icon }}"></i>
    </span>
    {% endif %}
    <span>
    {{ m.title }}
    </span>
    </a>
  {% endfor %}
  {% if article.url %}<a class="button" href="{{article.url}}">PDF</a>{% endif %}
  {% if article.doi %}<a class="button is-outlined {% if article.type == "journal" %}is-success{% else %}is-info{% endif %}" href="https://dx.doi.org/{{article.doi}}">DOI</a>{% endif %}
  <div>
</li>
{% endfor %}
</ul>
