@charset "utf-8";
body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
}
p {
    text-align: justify;
    word-break: break-word;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    word-break: break-word;
}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid $border-color;
}
img {
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
th,
td {
    padding: 0.5rem;
    line-height: inherit;
}
th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}
td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
}
pre {
    padding: 1.25rem;
    overflow-x: auto;
}
code, text-area {
    font-family: $code-font-family;
    tab-size: 4;
}
hr {
    border: none;
    border-top: 2px solid $border-color;
}

pre,
code,
textarea {
    overflow: auto;
    border-radius: 3px;
    border: 1px solid $border-color;
    > code {
        border: none;
    }
}
pre, textarea {
    padding: 1em;
}
code {
    padding: 0.1em;
}


figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

textarea {
    height: 14em;
	width:100%;
}

