<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Arsenal|Quicksand|Droid+Sans+Mono|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
</head>


<body>
  {{ content }}
</body>
</html>
