<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Arsenal|Quicksand|Droid+Sans+Mono|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/bulma.css">
</head>


<body>
    <section class="hero is-medium is-primary">
        <div class="hero-body has-text-centered">
            <div class="container media" style="max-width:70em">
              <figure class="image media-image" style="margin-right:3em">
                <img class="is-rounded" src="{{site.baseurl}}/assets/portrait-256.jpg" alt="Tiago Cogumbreiro" />
              </figure>
              <div class="media-content">
                <h1>
                  Tiago is an assistant professor at UMass Boston who researches
                  data-driven techniques to write safer code at scale,
                  by developing debugging tools, proving software correctness, and learning specifications.
                </h1>
                <h1 style="padding-top:1em">
                  Tiago's expertise include: <strong>improve the quality
                  assurance of parallel programs</strong> by mitigating
                  deadlocks & data-races, <strong>find bugs in
                  the wild</strong>
                  by leveraging machine-learning to mine specifications.
                </h1>
                <h1 class="title" style="padding-top:1em">
                        <a href="mailto:tiago.cogumbreiro@umb.edu">Tiago is looking for self-motivated Ph.D. students
                        who are interested in improving the quality of our software.
                    </a></h1>
                    </div>
            </div>
        </div>
      </section>
      <div class="container has-text-centered" style="margin:1em">
                    <a class=" button" href="mailto:tiago.cogumbreiro@umb.edu"><strong>Email me</strong></a>
                    <a class=" button" href="http://dblp.dagstuhl.de/pers/hd/c/Cogumbreiro:Tiago">Publications@DBLP</a>
                    <a class=" button" href="https://scholar.google.com/citations?user=4uTAp_gAAAAJ">Publications@Google Scholar</a>
                    <a class=" button" href="https://github.com/cogumbreiro/">Code@GitHub</a>
                    <a class=" button" href="https://bitbucket.com/cogumbreiro/">Code@Bitbucket</a>
                    <a class=" button" href="https://gitlab.com/cogumbreiro/">Code@Gitlab</a>
        </div>

    {{ content }}
</body>
</html>
